@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/intro.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}
